## <center> FIFA WORLD CUP DATA ANALYSIS </center>

In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading world cup data from csv file
data = pd.read_csv("Data/WorldCups.csv")
data.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [3]:
#reading world cup matches data from csv file
matches = pd.read_csv("Data/WorldCupMatches.csv")
matches.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [4]:
#reading world cup players data from csv file
players = pd.read_csv("Data/WorldCupPlayers.csv")
players.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

#### Final Match Results

In [5]:
#merging matches and players data
full = pd.merge(matches, players, how = 'outer', on = ['RoundID', "MatchID"])
finals = full.query("Stage == 'Final'")
finals = finals.drop_duplicates()

In [6]:
#getting winner of each world cup
finals_res = finals.drop_duplicates(subset = "Year").reset_index(drop = True)
def winner():
    win = []
    for i in range(finals_res.shape[0]):
        if finals_res["Home Team Goals"][i] > finals_res["Away Team Goals"][i]:
            win.append(finals_res["Home Team Name"][i])
        elif finals_res["Home Team Goals"][i] < finals_res["Away Team Goals"][i]:
            win.append(finals_res["Away Team Name"][i])
        else:
            win.append(finals_res["Win conditions"][i].split(" ")[0])
    return win
winner = winner()

In [7]:
#printing result of Finals
finals_res["winner"] = winner
finals_results = finals_res[["Year", "Datetime", "Stadium", "City", "Home Team Name", "Home Team Goals", "Away Team Goals", "Away Team Name", "winner"]]
finals_results

,Year,Datetime,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,winner
0,1930.0,30 Jul 1930 - 14:15,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,Uruguay
1,1934.0,10 Jun 1934 - 17:30,Nazionale PNF,Rome,Italy,2.0,1.0,Czechoslovakia,Italy
2,1938.0,19 Jun 1938 - 17:00,Stade Olympique,Colombes,Italy,4.0,2.0,Hungary,Italy
3,1954.0,04 Jul 1954 - 17:00,Wankdorf Stadium,Berne,Germany FR,3.0,2.0,Hungary,Germany FR
4,1958.0,29 Jun 1958 - 15:00,Rasunda Stadium,Solna,Brazil,5.0,2.0,Sweden,Brazil
5,1962.0,17 Jun 1962 - 14:30,Nacional,Santiago De Chile,Brazil,3.0,1.0,Czechoslovakia,Brazil
6,1966.0,30 Jul 1966 - 15:00,Wembley Stadium,London,England,4.0,2.0,Germany FR,England
7,1970.0,21 Jun 1970 - 12:00,Estadio Azteca,Mexico City,Brazil,4.0,1.0,Italy,Brazil
8,1974.0,07 July 1974 - 16:00,Olympiastadion,Munich,Netherlands,1.0,2.0,Germany FR,Germany FR
9,1978.0,25 Jun 1978 - 15:00,El Monumental - Estadio Monumental Antonio Ves...,Buenos Aires,Argentina,3.0,1.0,Netherlands,Argentina
10,1982.0,11 Jul 1982 - 20:00,Santiago Bernabeu,Madrid,Italy,3.0,1.0,Germany FR,Italy
11,1986.0,29 Jun 1986 - 12:00,Estadio Azteca,Mexico City,Argentina,3.0,2.0,Germany FR,Argentina
12,1990.0,08 Jul 1990 - 20:00,Stadio Olimpico,Rome,Germany FR,1.0,0.0,Argentina,Germany FR
13,1994.0,17 Jul 1994 - 12:30,Rose Bowl,Los Angeles,Brazil,0.0,0.0,Italy,Brazil
14,1998.0,12 Jul 1998 - 21:00,Stade de France,Saint-Denis,Brazil,0.0,3.0,France,France
15,2002.0,30 Jun 2002 - 20:00,International Stadium Yokohama,Yokohama,Germany,0.0,2.0,Brazil,Brazil
16,2006.0,09 Jul 2006 - 20:00,Olympiastadion,Berlin,Italy,1.0,1.0,France,Italy
17,2010.0,11 Jul 2010 - 20:30,Soccer City Stadium,Johannesburg,Netherlands,0.0,1.0,Spain,Spain
18,2014.0,13 Jul 2014 - 16:00,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,Germany

#### Top Goal Scorer in Each World Cup

In [8]:
#getting Top Goal Scorer in Each World Cup
import warnings
warnings.filterwarnings("ignore")
full2 = full.drop_duplicates()
goals = full2[(full2["Event"].str.contains("G", na = False)) | (full2["Event"].str.contains("P", na = False))]
#goals = full2[full2["Event"].str.contains("G", na = False)]
goals["Goals"] =goals["Event"].apply(lambda x: x.count("G") + x.count("P"))

In [9]:
goals.groupby(["Year", "Player Name"], as_index = False)["Goals"].sum().sort_values(by = "Goals", ascending = False).drop_duplicates(subset = "Year", keep = "first").sort_values(by = "Year").reset_index(drop = True)

      Year                          Player Name  Goals
0   1930.0                    Guillermo STABILE      8
1   1934.0                      Oldrich NEJEDLY      5
2   1938.0                             LEONIDAS      7
3   1950.0                               ADEMIR      8
4   1954.0                        Sandor KOCSIS     11
5   1958.0                        Just FONTAINE     13
6   1962.0                       Florian ALBERT      4
7   1966.0  EUSEBIO (Eusebio da Silva Ferreira)      9
8   1970.0                         Gerd MUELLER     10
9   1974.0                        Grzegorz LATO      7
10  1978.0                         Mario KEMPES      6
11  1982.0                          Paolo ROSSI      6
12  1986.0                         Gary LINEKER      6
13  1990.0                  Salvatore SCHILLACI      6
14  1994.0                         Oleg SALENKO      6
15  1998.0                          Davor SUKER      6
16  2002.0                              RONALDO      8
17  2006.0                                KLOSE      5
18  2010.0                          DAVID VILLA      6
19  2014.0                                JAMES      6

#### Most Goals in Finals and Semi Finals

In [10]:
finals_data = goals[goals["Stage"].isin(["Final", "Semi Final"])]
finals_data.groupby("Player Name", as_index = False)["Goals"].sum().sort_values(by = "Goals", ascending = False)

                           Player Name  Goals
14                         Geoff HURST      3
48                                VAVA      3
37  PEL� (Edson Arantes do Nascimento)      3
41                       Paul BREITNER      2
43                             RONALDO      2
22                         Helmut RAHN      2
47                        Silvio PIOLA      2
32                        Mario KEMPES      2
53                     Zinedine ZIDANE      2
16                       Gino COLAUSSI      2
34                       Martin PETERS      1
39                          Pal TITKOS      1
35                         Max MORLOCK      1
33                       Mario ZAGALLO      1
36                       Nils LIEDHOLM      1
31                      Marco TARDELLI      1
38                        Pablo DORADO      1
0                            A.INIESTA      1
40                         Paolo ROSSI      1
29               Karl-Heinz RUMMENIGGE      1
42                           Pedro CEA      1
44                       Raimundo ORSI      1
45                  Roberto BONINSEGNA      1
46                        Rudi VOELLER      1
49                  Victoriano IRIARTE      1
50                      Wolfgang WEBER      1
51                              ZIDANE      1
52                                ZITO      1
30                          MATERAZZI       1
27                          Jose BROWN      1
28                      Josef MASOPUST      1
12                       Ferenc PUSKAS      1
2                       Agne SIMONSSON      1
3                 Alessandro ALTOBELLI      1
4                       Andreas BREHME      1
5                      Angelo SCHIAVIO      1
6                          Antonin PUC      1
7                       CARLOS ALBERTO      1
8                      Carlos PEUCELLE      1
9                       Daniel BERTONI      1
10                       Dick NANNINGA      1
11                      Emmanuel PETIT      1
13                              GERSON      1
1                             AMARILDO      1
15                        Gerd MUELLER      1
17                   Guillermo STABILE      1
18                       Gyorgy SAROSI      1
19                               G�TZE      1
20                       Hector CASTRO      1
21                       Helmut HALLER      1
23                           JAIRZINHO      1
24                      Johan NEESKENS      1
25                    Jorge BURRUCHAGA      1
26                       Jorge VALDANO      1
54                       Zoltan CZIBOR      1

#### All time top Goal Scorer

In [11]:
#getting all time top goal scorer
goals.groupby(["Player Name", "Team Initials"], as_index = False)["Goals"].sum().sort_values(by = "Goals", ascending = False)[:10][["Player Name", "Goals"]].reset_index(drop = True)

                          Player Name  Goals
0                               KLOSE     16
1                             RONALDO     15
2                        Gerd MUELLER     14
3                       Just FONTAINE     13
4  PEL� (Edson Arantes do Nascimento)     12
5                       Sandor KOCSIS     11
6                              M�LLER     11
7                       Grzegorz LATO     10
8                         DAVID VILLA     10
9                    Teofilo CUBILLAS     10

#### Top Goal Scorer for each Country

In [12]:
#top goal scorer for each country
goals_team = goals.groupby(["Team Initials", "Player Name"], as_index = False)["Goals"].sum().sort_values(by = "Goals", ascending = False).drop_duplicates(subset = "Team Initials", keep = "first").reset_index(drop = True)

#### Team Records in all World Cups

In [13]:
home = matches["Home Team Name"].value_counts().sort_index()
away = matches["Away Team Name"].value_counts().sort_index()
m = home + away
m = pd.DataFrame(m).reset_index().rename(columns = {"index":"Country", 0:"Played"})
m["Played"] = m["Played"].astype("Int64")

In [14]:
matches = matches.dropna()
matches.shape

(850, 20)

In [15]:
matches = matches.reset_index(drop = True)
def wins():
    wins = []
    for i in range(matches.shape[0]):
        if matches["Home Team Goals"][i] > matches["Away Team Goals"][i]:
            wins.append(matches["Home Team Name"][i])
        elif matches["Home Team Goals"][i] < matches["Away Team Goals"][i]:
            wins.append(matches["Away Team Name"][i])
        elif matches["Home Team Goals"][i] == matches["Away Team Goals"][i]:
            if matches["Win conditions"][i].split(" ")[0] != "":
                wins.append(matches["Win conditions"][i].split(" ")[0])
        else:
            wins.append(matches["Home Team Name"][i] + matches["Away Team Name"][i])
    return wins
winss = wins()

In [16]:
dic = {}
for j in winss:
    if j not in dic:
        dic[j] = 1
    else:
        dic[j] += 1

In [17]:
sorted_dict = {key: value for key, value in sorted(dic.items())}
country = sorted_dict.keys()
wins = sorted_dict.values()
dd = pd.DataFrame()
dd["Country"] = country
dd["Wins"]  = wins
match_ = pd.merge(m, dd, how = "left", on = "Country")

In [18]:
def draw():
    dic2 = {}
    for i in range(matches.shape[0]):
        if matches["Home Team Goals"][i] == matches["Away Team Goals"][i] and matches["Win conditions"][i] == " ":
            if matches["Home Team Name"][i] not in dic2:
                dic2[matches["Home Team Name"][i]] = 1
            else:
                dic2[matches["Home Team Name"][i]] += 1
            if matches["Away Team Name"][i] not in dic2:
                dic2[matches["Away Team Name"][i]] = 1
            else:
                dic2[matches["Away Team Name"][i]] += 1
    return dic2
draws = draw()

In [19]:
sorted_draws = {key: value for key, value in sorted(draws.items())}
country = sorted_draws.keys()
dra = sorted_draws.values()
dr = pd.DataFrame()
dr["Country"] = country
dr["Draws"]  = dra
match_ = pd.merge(match_, dr, how = "left", on = "Country")

In [20]:
def Loss():
    loss = []
    for i in range(matches.shape[0]):
        if matches["Home Team Goals"][i] < matches["Away Team Goals"][i]:
            loss.append(matches["Home Team Name"][i])
        elif matches["Away Team Goals"][i] < matches["Home Team Goals"][i]:
            loss.append(matches["Away Team Name"][i])
        elif matches["Home Team Goals"][i] == matches["Away Team Goals"][i] and matches["Win conditions"][i] != " ":
            if matches["Win conditions"][i].split(" ")[0] == matches["Home Team Name"][i]:
                loss.append(matches["Away Team Name"][i])
            elif matches["Win conditions"][i].split(" ")[0] == matches["Away Team Name"][i]:
                loss.append(matches["Home Team Name"][i])
    return loss
            
loss = Loss()

In [21]:
losses = {}
for j in loss:
    if j not in losses:
        losses[j] = 1
    else:
        losses[j] +=1
sorted_losses = {key: value for key, value in sorted(losses.items())}
country = sorted_losses.keys()
losss = sorted_losses.values()
lo = pd.DataFrame()
lo["Country"] = country
lo["Losses"]  = losss
match_ = pd.merge(match_, lo, how = "left", on = "Country")

In [22]:
match_

                       Country  Played  Wins  Draws  Losses
0                      Algeria      14   3.0    3.0       6
1                       Angola       3   NaN    2.0       1
2                    Argentina      81  47.0    9.0      23
3                    Australia      13   2.0    3.0       8
4                      Austria      29  12.0    4.0      13
..                         ...     ...   ...    ...     ...
78  rn">Bosnia and Herzegovina       3   1.0    NaN       2
79     rn">Republic of Ireland      13   2.0    6.0       4
80   rn">Serbia and Montenegro       3   NaN    NaN       3
81     rn">Trinidad and Tobago       3   NaN    1.0       2
82    rn">United Arab Emirates       3   NaN    NaN       3

[83 rows x 5 columns]